select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #F2F2F2;
  background-image: url("/assets/images/Polygon45.svg");
  background-repeat: no-repeat;
  width: 180px;
  height: 40px;
  background-position-x: 95%;
  background-position-y: 50%;
  border-radius: 8px;
  padding: 1rem;
  border: none;
  padding-right: 2rem;
  cursor: pointer;
}
select:hover {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/assets/images/Polygon45.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}
select:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/assets/images/Polygon45-invert.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}
select:active {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/assets/images/Polygon45.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 20%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}